.header {
  width: 100dvw;
  height: clamp(100px, 10dvh, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--white);
  gap: 2dvh;
}