.footer {
  width: 100dvw;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground);
  color: var(--background);
  position: relative;
  bottom: 0;
}