.main {
  display: flex;
  flex-direction: column;
  gap: 1dvw;
  width: 100%;
  height: 100%;
  padding: 5dvw;
}

.loading {
  justify-content: center;
  align-items: center;
}

.timelineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timelineBar {
  position: absolute;
  width: 1px;
  background-color: var(--foreground);
  z-index: -1;
  height: 100%;
}

.timelineStart {
  margin: 5dvh auto;
  background-color: var(--light);
  padding: 1dvw;
}

.event {
  position: relative;
  background-color: var(--light);
  padding: 10px;
  margin-bottom: 5dvh;
  width: 20dvw;
  min-height: 10dvh;
}

.left {
  text-align: left;
  margin-right: 30dvw;
}

.right {
  text-align: right;
  margin-left: 30dvw;
}

.left .date {
  position: absolute;
  top: 50%;
  right: -12dvw;
  transform: translateY(-50%);
}

.right .date {
  position: absolute;
  top: 50%;
  left: -12dvw;
  transform: translateY(-50%);
}

/* Arrow pointing right */
.left::after {
  position: absolute;
  top: 50%;
  right: -14px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--light);
  content: "";
  transform: translateY(-50%);
}

/* Arrow pointing left */
.right::after {
  position: absolute;
  top: 50%;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--light);
  content: "";
  transform: translateY(-50%);
}

.icon {
  position: fixed;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--foreground);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-size: 1.5dvw;
}