.main {
  display: flex;
  flex-direction: column;
  gap: 1dvw;
  width: 100%;
  height: 100%;
  padding: 5dvw;
  z-index: -2;
  /* background: #ffffff; */
}

.bg {
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.loading {
  justify-content: center;
  align-items: center;
}

.timelineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timelineBar {
  position: absolute;
  width: 1px;
  background-color: var(--foreground);
  z-index: -1;
  height: 100%;
  transition-duration: 0.5s;
  opacity: 1;
}

.timelineStart {
  margin: 0 auto 10dvh;
  background-color: var(--light);
  padding: 1dvw;
  border-radius: 5;
  text-align: center;
}

.event {
  position: relative;
  /* background-color: var(--light); */
  background-color: var(--white);
  padding: 2dvw;
  margin-bottom: 5dvh;
  width: 30dvw;
  min-height: 10dvh;
  border-radius: 5;
}

.left {
  text-align: left;
  margin-right: 40dvw;
}

.right {
  text-align: right;
  margin-left: 40dvw;
}

.date {
  position: absolute;
  font-size: x-large;
}

.left .date {
  top: 50%;
  right: -12dvw;
  transform: translateY(-50%);
}

.right .date {
  top: 50%;
  left: -12dvw;
  transform: translateY(-50%);
}

/* Arrow pointing right */
.left::after {
  position: absolute;
  top: 50%;
  right: -14px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--white);
  content: "";
  transform: translateY(-50%);
}

/* Arrow pointing left */
.right::after {
  position: absolute;
  top: 50%;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--white);
  content: "";
  transform: translateY(-50%);
}

.icon {
  position: fixed;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--foreground);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.5dvw;
  transition-duration: 0.5s;
  opacity: 1;
}

.eventTitle,
.eventText {
  padding: 1dvh 0;
}

.eventTitle {
  font-size: xx-large;
}

.eventText {
  font-size: large;
}

.hidden {
  opacity: 0;
}