.input {
  width: 100%;
  height: auto;
  padding: clamp(10px, 10dvh, 50px) clamp(10px, 5dvw, 20px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
  background-color: var(--white);
}

textarea.input::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* Hide scrollbar for IE, Edge and Firefox */
textarea.input {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea.input {
  resize: vertical;
}

.submit {
  cursor: pointer;
  background-color: var(--main);
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

.input,
.submit {
  border: none;
}

.submit:hover {
  background-color: var(--accent);
}

.submit:hover {
  filter: drop-shadow(1px 1px 5px #c3c3c36b);
  transition-duration: 0.3s;
}