.success {
  background-color: var(--main);
}

.error {
  background-color: var(--error);
}

.warning {
  background-color: var(--warning);
}

.info {
  background-color: var(--accent);
}

.popup {
  transition-duration: 0.3s;
  /* width: 15dvw; */
  width: max-content;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2dvh;
  color: #fff;
  border-radius: var(--radius);
  font-size: medium;
  margin: 1dvw;
  z-index: 10;
}

.popupHidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.popupVisible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}