@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light: #f4f4f4; /* Default light gray: #f4f4f4 */
  --main: #bca3ff; /* Original blue: #203561, #435b8f */
  --accent: #e1deda; /* Prev greige: #e1deda */
  --complement: #3B2061; /* Original purple: #3B2061 */
  --white: #fff;
  --error: #DEA6A8;
  --warning: #DED2A6;

  --radius: 50px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  min-height: 100dvh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Petrona, Arial, Helvetica, sans-serif;
  font-weight: 300; 
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
