@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light: #f4f4f4; /* Default light gray: #f4f4f4 */
  
  --main: #8C7AFF; /* Original blue: #203561, #435b8f */
  --main-rgb: 140 122 255;
  --main-dark: #7869DB; /* Original purple: #3B2061 */
  --main-light: #8E8AAA;

  --accent: #e1deda; /* Prev greige: #e1deda */
  --complementary: #83FF7A;

  --success: #83FF7A;
  --error: rgb(255 138 122);
  --error-rgb: 255 138 122;
  --warning: rgb(255 237 122);
  --warning-rgb: 255 237 122;
  --info: rgb(122 175 255);
  --info-rgb: 122 175 255;

  --white: #fff;
  --turquoise: #A7F0BA;
  --orange: #FFCC99;
  --purple: #bfa7f0;
  --pink: #FFD6E8;
  --cobalt: #7AAFFF;
  --gold: #FFD700;
  
  --radius: 100px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  min-height: 100dvh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Petrona, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
