.input {
  width: 100%;
  padding: 4%;
  margin: 0 0 5% 0;
  font-size: larger;
  transition-duration: 0.3s;
  animation-name: autofillFix;
  animation-fill-mode: both;
  background-color: var(--white);
  /* border-radius: var(--radius); */
  border-top-left-radius: calc(var(--radius) / 2);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: calc(var(--radius) / 2);
  border-bottom-left-radius: var(--radius);
  filter: drop-shadow(1px 1px 10px #ffffff6b);
}

.submit {
  cursor: pointer;
  background-color: var(--main);
  color: var(--white);
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.input,
.submit {
  border: none;
}

.submit:hover {
  background-color: var(--accent);
}

.input:hover,
.submit:hover {
  filter: drop-shadow(1px 1px 5px #c3c3c36b);
  transition-duration: 0.3s;
}