.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 1dvw; */
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  padding: 5dvw;
  overflow: hidden;
}

.loading {
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10dvw;
  margin: 10dvh auto;
}

.card {
  position: relative;
  width: 25%;
  /* background-color: var(--accent); */
  padding: 3dvw;
  border-radius: var(--radius);
}

.buttonGroup {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 1dvw;
  margin-top: 10dvh;
}

.iconGroup {
  position: absolute;
  top: 3dvh;
  right: -2dvh;
  display: flex;
  flex-direction: row;
  justify-content: flex;
  gap: 1dvh;
  transform: rotate(30deg);
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1dvh;
}