.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5dvw;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  padding: 0 5dvw;
  overflow: hidden;
}

.loading {
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.expandedRow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 15dvw 0 10dvh;
  gap: 2.5dvw;
}

.collapsedRow {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--light);
  padding: 20px 0;
}

.toggleCollapseBtn {
  position: absolute;
  background-color: var(--light);
  padding: 10px 5px;
  border-radius: 100%;
  top: 0;
  right: 0;
  /* border-bottom: 1px solid var(--foreground); */
}

.toggleExpandBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.petCol {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.card {
  position: relative;
  width: 50%;
  /* background-color: transparent !important; */
  padding: 5%;
  font-size: large;
  border-radius: var(--radius);
}

.buttonGroup {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 1dvw;
  margin-top: 10dvh;
}

.iconGroup {
  position: absolute;
  top: 1%;
  right: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex;
  gap: 2dvh;
  transform: rotate(25deg);
}

.timelineIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}

.avatar {
  width: 185px;
  height: 185px;
  border-radius: 100%;
  object-fit: cover;
}

.avatarContainer {
  position: absolute;
  top: -10rem;
  left: -2rem;
  width: 185px;
  height: 185px;
}

.avatarContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130%;
  height: 115%;
  border-radius: 100%;
  background-color: white;
  z-index: -2;
}

.eventCol {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex: 1;
}

.event {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 10rem;
  justify-content: flex-start; /* flex-start if left aligned */
  align-items: center;
  z-index: -2;
}

.event:nth-child(odd) {
  /* background-color: var(--light); */
  background: #FFF;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.eventBtns {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.eventBtns button {
  flex: 1 1 0;
}

.timelineSection {
    position: relative;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timelineUpper,
.timelineLower {
    position: absolute;
    width: 2px;
    background-color: var(--light);
}

.timelineUpper {
    top: 0;
    bottom: 50%;
}

.timelineLower {
    top: 50%;
    bottom: 0;
}

.eventIcon {
  font-size: x-large;
  background-color: var(--foreground);
  padding: 15px;
  border-radius: var(--radius);
  color: var(--white);
  background-color: var(--foreground);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
  margin: 1rem;
}

.eventContent {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 3000px) {
  .avatar {
    width: 300px;
    height: 300px;
  }

  .iconGroup {
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 1920px) {
  .card {
    width: 60%;
    padding: 7.5%;
  }

  .iconGroup {
    top: 2%;
    right: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px) {
  .expandedRow {
    flex-direction: column;
    gap: 10dvh;
    margin: 20dvh 0 5dvh;
  }

  .iconGroup {
    display: none;
  }

  .timelineIcon {
    display: none;
  }

  .card {
    width: 70%;
    font-size: medium;
  }

  .buttonGroup {
    width: 100%;
    margin-top: 5dvh;
  }

  .toggleCollapseBtn {
    background-color: var(--white);
    filter: drop-shadow(1px 1px 10px var(--light));
    top: -4%;
    right: 4%;
  }

  .toggleCollapseBtn button {
    padding: 20px;
    font-size: 5dvw;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 75%;
    padding: 15%;
  }
}

@media only screen and (max-width: 425px) {
  .card {
    width: 75%;
    padding: 12.5%;
  }

  .avatar, .avatarContainer {
    width: 150px;
    height: 150px;
  }

  .avatarContainer {
    top: -7rem;
    left: -2rem;
  }
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
  .card {
    width: 100%;
    padding: 25%;
    font-size: small;
  }

  .avatar, .avatarContainer {
    display: none;
  }
}