.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5dvw;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  padding: 6dvw;
  overflow: hidden;
}

.loading {
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.expandedRow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 10dvw;
  gap: 5dvw;
}

.collapsedRow {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--light);
  padding: 20px 0;
}

.toggleCollapseBtn {
  position: absolute;
  background-color: var(--light);
  padding: 10px 5px;
  border-radius: 100%;
  top: 0;
  right: 0;
  /* border-bottom: 1px solid var(--foreground); */
}

.toggleExpandBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.petCol {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.card {
  position: relative;
  width: 50%;
  /* background-color: transparent !important; */
  padding: 5%;
  font-size: large;
  border-radius: var(--radius);
}

.buttonGroup {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 1dvw;
  margin-top: 10dvh;
}

.iconGroup {
  position: absolute;
  top: 10px;
  right: -30px;
  display: flex;
  flex-direction: row;
  justify-content: flex;
  gap: 2dvh;
  transform: rotate(30deg);
}

.timelineIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}

.avatar {
  position: absolute;
  top: -10rem;
  left: -2rem;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  border: 1.5dvh solid var(--white);
}

.eventCol {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex: 1;
  z-index: -3;
}

.event {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-height: 10rem;
  justify-content: flex-start; /* flex-start if left aligned */
  align-items: center;
}

.event:nth-child(odd) {
  /* background-color: var(--light); */
  background: #FFF;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.timelineSection {
    position: relative;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--foreground);
  border-radius: 100%;
  z-index: 1;
}

.timelineUpper,
.timelineLower {
    position: absolute;
    width: 2px;
    background-color: var(--light);
}

.timelineUpper {
    top: 0;
    bottom: 50%;
}

.timelineLower {
    top: 50%;
    bottom: 0;
}

.eventIcon {
  font-size: x-large;
  background-color: var(--foreground);
  padding: 10px;
  border-radius: 100%;
  color: var(--white);
}

.eventContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
  margin: 1rem auto;
}

.eventContent {
  display: flex;
  flex-direction: column;
}
 
@media only screen and (max-width: 1920px) {
  .card {
    width: 70%;
    padding: 10%;
  }

  .iconGroup {
    top: 40px;
    right: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 80%;
    padding: 10%;
  }

  .iconGroup {
    right: -10px;
  }
}

@media only screen and (max-width: 1024px) {
  .expandedRow {
    flex-direction: column;
    gap: 10dvh;
    margin: 20dvh 0 5dvh;
  }

  .iconGroup {
    display: none;
  }

  .timelineIcon {
    display: none;
  }

  .card {
    width: 70%;
  }

  .buttonGroup {
    width: 100%;
    margin-top: 5dvh;
  }

  .toggleCollapseBtn {
    background-color: var(--white);
    filter: drop-shadow(1px 1px 10px var(--light));
  }

  .toggleCollapseBtn button {
    top: -4%;
    padding: 20px;
    font-size: 5dvw;
  }
}

@media only screen and (min-width: 3000px) {
  .avatar {
    width: 300px;
    height: 300px;
    top: -17rem;
    /* left: -2rem; */
  }
}

@media only screen and (max-width: 768px) {
  .avatar {
    z-index: -1;
  }

  .card {
    width: 75%;
    padding: 15%;
  }
}

@media only screen and (max-width: 425px) {
  .avatar {
    top: -8.5rem;
    left: -4rem;
  }
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
  .card {
    width: 100%;
    padding: 25%;
  }

  .avatar {
    display: none;
  }
}