.main {
  display: flex;
  flex-direction: column;
  gap: 1dvw;
  width: 100%;
  height: 100%;
  padding: 5dvw;
}

.loading {
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1dvw;
}

.card {
  position: relative;
  width: 30%;
  background-color: var(--accent);
  padding: 2dvw;
  border-radius: var(--radius);
}

.buttonGroup {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 1dvw;
}

.iconGroup {
  position: absolute;
  top: 1dvh;
  right: 1dvh;
  display: flex;
  flex-direction: row;
  justify-content: flex;
}

.arrow {
  position: absolute;
  bottom: 1dvh;
  right: 1dvh;
}