.button {
  width: 100%;
  height: 2dvh;
  padding: 2dvw;
  margin: 0 0 5% 0;
  font-size: larger;
  border-radius: var(--radius);
  transition-duration: 0.3s;
  animation-name: autofillFix;
  animation-fill-mode: both;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.submit {
  cursor: pointer;
  background-color: var(--main);
  color: var(--white);
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.icon {
  all: unset;
  position: absolute;
  top: 1dvh;
  right: 1dvh;
  cursor: pointer;
  font-size: x-large;
}

.button,
.submit {
  border: none;
}

.submit:hover {
  background-color: var(--accent);
}

.button:hover,
.submit:hover {
  filter: drop-shadow(1px 1px 5px #c3c3c36b);
  transition-duration: 0.3s;
}