.button {
  width: 100%;
  /* padding: clamp(25px, 4%, 75px); */
  height: clamp(25px, 75px, 100px);
  /* margin: 0 0 5% 0; */
  font-size: larger;
  border-radius: var(--radius);
  transition-duration: 0.3s;
  animation-name: autofillFix;
  animation-fill-mode: both;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button svg {
  margin: auto 5px;
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.submit {
  cursor: pointer;
  background-color: var(--foreground);
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

.icon {
  all: unset;
  cursor: pointer;
  font-size: clamp(20px, 2dvw, 50px);
  color: var(--white);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
}

.button,
.submit {
  border: none;
}

.submit:hover {
  background-color: var(--main-dark);
}

.button:hover,
.submit:hover {
  filter: drop-shadow(1px 1px 5px #c3c3c36b);
  transition-duration: 0.3s;
}

.spinPulse:hover {
  animation: spinPulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes spinPulse {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.spinPulseReverse:hover {
  animation: spinPulseReverse 1s infinite;
  animation-timing-function: linear;
}

@keyframes spinPulseReverse {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-180deg) scale(1.5);
  }

  100% {
    transform: rotate(-360deg) scale(1);
  }
}