.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  /* height: 100%; */
}

.formFieldset {
  width: 100%;
  padding: 1dvw;
  border: 1px solid transparent;
  transition: border 0.5s;
  border-radius: var(--radius);
}

/* .formFieldset:hover {
  border: 1px solid #cbcbcb;
  transition: border 0.5s;
} */

.formLegend {
  font-size: xx-large;
}

.formLabel,
.formInput {
  display: block;
  width: 100%;
}

.formLabel {
  margin: 0 0 1% 0;
  font-size: larger;
}

.formInput {
  padding: 4%;
  margin: 0 0 5% 0;
  font-size: larger;
  /* border: 1px solid #cbcbcb; */
  border-radius: var(--radius);
  transition-duration: 0.3s;
  animation-name: autofillFix;
  animation-fill-mode: both;
  background-color: var(--light);
}

/* .formInput::placeholder {
  color: var(--white)
} */

.formInput:hover,
.formSubmit:hover {
  filter: drop-shadow(1px 1px 5px #c3c3c36b);
  transition-duration: 0.3s;
}

.formSubmit {
  cursor: pointer;
  background-color: var(--main);
  color: var(--white);
  font-size: x-large;
  font-weight: bold;
}

.formInput,
.formSubmit {
  border: none;
}

.formSubmit:hover {
  background-color: var(--accent);
}